body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--font)
  }
  
  :root {
    --light:#E5F1E7;
    --bars: #5B532E;
    --aside: #CBD795;
    --font: #1b190e;
    --pad: 5px;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bars);
    color: var(--font);
  }
  
  h1 {
    display: flex;
    font-size: 200%;
    padding: 0.8%;
    margin:30px;
    background-color: var(--aside);
  }
  
  h2 {
    font-size: 160%;
    color: var(--font)
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style: none;
  }
  
  nav a {
    color: var(--light);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--font);
  }

.container {
  position: relative;
  max-width: 100%;
  height: auto;
}

#img{
  max-width: 100%;
}

.text-block {
  position: absolute;
  bottom: var(--pad);
  right: 15%;
  background-color: #e5f1e744;
  color: var(--bars);
  padding-left: var(--pad);
  padding-right: var(--pad);
}
  
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 1;
    background-color: #CBD795;
    padding: 85px;
    text-align: left;
    border-right: solid var(--bars);
  }
  
  div section{
    margin: 20rem;
    border:#5B532E;
  }
  .projects {
    flex: 4;
    background-color: var(--light);
    padding: 60x;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    padding: 30px;
    flex: 0 0 300px;
    margin: 20px;
  }
  
  .card header {
    padding: 40px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

   footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--bars);
    color: var(--light);
    margin-top: auto;
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  