body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font);
    background-color: #fcffef;
  }
  
  :root {
    --F: flex;
    --R: row;
    --w: 75%;
    --bars: #103100;
    --aside: #CBD795;
    --font: #1b190d;
    --pad: 5px;
    --pad2: 5%;
    --txbc: #e5f1e744;
}

header {
  display: var(--F);
  justify-content: space-between;
  align-items: center;
  background-color: var(--bars);
}
  
h1 {
  padding-right: 2.5%;
  padding-left: 2.5%;
  margin:30px;
  background-color: #ffffff;
  border-radius: 30px;
}
  
h2 {
  font-size: 250%;
  color: var(--font);
  padding: var(var(--pad));
}
  
nav ul {
  display: var(--F);
  justify-content: space-between;
  min-width: 400px;
  list-style: none;
  padding-right: 80px;
  font-size: 125%;
}
 
nav a {
  display: var(--F);
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline 3px;
}
  
nav a:hover {
  color: #FEE505;
}

.container {
  position: relative;
  max-width: 100%;
  height: auto;
}

#img{
  max-width: 100%;
}

.text-block {
  position: absolute;
  bottom: var(--pad);
  right: 15%;
  background-color: var(--txbc);
  color: var(--bars);
  padding-left: var(--pad);
  padding-right: var(--pad);
}
  
main {
    display: var(--F);
    flex-wrap: wrap;
    flex-grow: 1;
}

/*this made the navigation buttons work*/
#aboutme{
margin-left: 1px;
}

#work{
margin-left: 1px;
}

#contactme{
margin-left: 1px;
}

p{
  padding: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.twocolumn{
  display: var(--F);
  flex-direction: row;
}

.aside {
  display: var(--F);
  padding: var(--pad2);
  background-color: #CBD795;
  border-right: solid var(--bars);
  width: 300px;
}

.div a img{
  position: relative;
  width:96%;
  opacity: 1.0;
  border: solid var(--bars);
  margin: var(--pad);
  margin-bottom: 50px;
  }
 
.div a img:hover{
  opacity: 0.8;
}

#cardtextboxmain{
  position: absolute; 
  margin-left: 400px;
  margin-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid var(--bars); 
  color: var(--bars); 
  background-color:#fcffef8a;
}

.leftcard{
  display: var(--F);
  width: 100%;
  justify-content: left;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 1.0;
}

.rightcard{
  display: var(--F);
  width: 100%;
  justify-content: right;
  margin-right: 22px;
  opacity: 1.0;
}

.leftcard:hover{
  opacity: 0.8; 
}

.leftcard:hover{
  opacity: 0.8; 
}

#contact{
display: var(--F);
justify-content: space-evenly;
margin: 50px;
margin-left: 200px;
border: solid var(--font);
padding: 50px;
list-style: none;
width: 100%;
}

#form{
display: var(--F);
justify-content: space-evenly;
margin: 50px;
border: solid var(--font);
padding: 50px;
width: 100%;
}

#name{
  color: var(--font);
}

footer {
  width: 100%;
  text-align: center;
  background: var(--bars);
  color: var(--aside)
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  